<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>[[${name}]]</h1>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADIAQAAAACFI5MzAAAAp0lEQVR42u3YwQ6AIAwD0P7/T1cD
WxlB75TAReFxWYBKBP8aruwh6K291J6tRGFvt/ScBW0wBZpiLppxhpDVnSUjo8u6R80kskF1Lhni
JVN0f2a8lyj5WBPdWPJcYSrdVtqYwlwLaCtZaYz11bOW2IKR4OMa5CnaeshlJJxF2c3xoLOUYKBm
OUs5W9qTBwiobxRPkDnKjeUj0p1FN9WslXCW+09oY3kAFgd8LVjedlIAAAAASUVORK5CYII=" />
    <img th:src="${str}">
</body>
</html>